$_white_color: #f2f2f2;
$_peach_bg_color: #ffe5b2;
$_casablanca_color: #f2b24d;
$_sin_text_color: #ffb405;
$_main_cobalt_color: #21429f;
$_smalt_title_color: #12338d;
$_meteorite_color: #45227e;
$_tangaroa_color: #081846;
