.features-section {
  padding: 50px 20px;
  background: var(--Cobalt, #21429f);
  scroll-margin-top: 74px;

  .features-title {
    color: var(--My-Sin, #ffb405);
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 48px */
    text-align: center;
    margin-bottom: 40px;
  }

  /* Сетка для элементов */
  .features-grid {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    flex-wrap: wrap;
    column-gap: 78px;
    row-gap: 30px;
  }

  .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 246px;
    height: 232px;
    margin-bottom: 20px;
    background-image: url('./../img/featuresBG.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @include media(mobile) {
      &:nth-child(odd) {
        &::before {
          background-image: url('./../img/smallgirl.png');
        }
      }
      &:nth-child(even) {
        transform: scaleX(-1);

        &::after {
          background-image: url('./../img/smallgod.png');
        }

        .feature-content {
          transform: scaleX(-1);
        }
      }
    }

    @include media(desktop) {
      scroll-margin-top: 91px;
      &:nth-child(n) {
        transform: scaleX(1);

        &::before,
        &::after {
          background-image: none;
        }

        .feature-content {
          transform: scaleX(1);
        }
      }

      &:nth-child(n + 4) {
        transform: scaleX(-1);

        .feature-content {
          transform: scaleX(-1);
        }
      }

      &:first-child {
        &::before {
          background-image: url('./../img/smallgirl.png');
        }
      }

      &:last-child {
        &::after {
          background-image: url('./../img/smallgod.png');
        }
      }
    }

    &::before,
    &::after {
      position: absolute;
      width: 80px;
      height: 77px;
      flex-shrink: 0;
      right: 80%;
      top: 90%;
      background-size: contain;
      background-repeat: no-repeat;
      content: '';

      @include media(desktop) {
        width: 153px;
        height: 156px;
      }
    }

    .feature-content {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 165px;

      .feature-heading {
        color: var(--Meteorite, #45227e);
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 30px */
      }

      .feature-description {
        color: var(--Cobalt, #21429f);
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
      }
    }
  }
}
