.gallery-section {
  background: var(--Peach, #ffe5b2);
  padding: 60px 20px;
  scroll-margin-top: 74px;

  .gallery-title {
    color: var(--Smalt, #12338d);
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 48px */
    text-align: center;
    margin-bottom: 20px;
  }

  .gallery-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Расстояние между слайдами */
    flex-wrap: wrap; /* Слайды переходят на следующую строку на мобильных */
  }

  .gallery-slide {
    img {
      width: 246px;
      height: 529px;
      flex-shrink: 0;
      border-radius: 20px;
      object-fit: cover; /* Картинка адаптируется без искажений */
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    gap: 15px; /* Расстояние между кнопками */
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 30px;

    .pagination-button {
      width: 35px;
      height: 35px;
      padding: 0;
      background: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 10;

      .pagination-icon {
        width: 100%; /* Размер стрелки внутри */
        height: 100%;
        fill: #ffb405; /* Цвет стрелки */
      }
    }
  }
  .pagination-button-left {
    transform: rotate(180deg);
  }
  /* Адаптивность для десктопа (1200px) */
  @media (min-width: 1200px) {
    scroll-margin-top: 91px;
    .gallery-container {
      gap: 30px; /* Увеличение расстояния между слайдами */
    }

    .gallery-slide img {
      width: 300px;
      height: 600px; /* Больше размеры для больших экранов */
    }

    .pagination-button {
      width: 40px;
      height: 40px;
    }

    .pagination-icon {
      width: 20px;
      height: 20px;
    }
  }

  /* Адаптивность для мобильных (320px) */
  @media (max-width: 320px) {
    .gallery-title {
      color: #ffb405;
    }
    .gallery-container {
      flex-direction: column; /* Слайды располагаются в столбик */
      align-items: center; /* Центровка слайдов */
    }

    .gallery-slide img {
      width: 200px;
      height: auto; /* Высота подстраивается автоматически */
    }

    .pagination-button {
      width: 30px;
      height: 30px;
    }

    .pagination-icon {
      width: 14px;
      height: 14px;
    }
  }
}
