.privacy-body {
  background: var(--Peach, #ffe5b2);
}

/* Хедер */
.privacy-header {
  background: var(--Peach, #ffe5b2);

  .header__container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

/* Основной контент */
.privacy-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  scroll-margin-top: 74px;
  background-color: $_peach_bg_color;

  @include media(desktop) {
    padding-top: 5px;
    padding-bottom: 80px;
    scroll-margin-top: 91px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    margin-top: 12px;
    color: $_smalt_title_color;
    @include font(14, 21);

    @include media(desktop) {
      margin-bottom: 24px;
    }
  }

  &__icon {
    fill: $_smalt_title_color;
  }

  &__main-title {
    margin-bottom: 24px;
    font-family: 'Open Sans', sans-serif;
    @include font(24, 32);
    color: $_smalt_title_color;

    @include media(desktop) {
      @include font(60, 90);
    }
  }

  &__title {
    margin-bottom: 8px;
    color: $_smalt_title_color;

    @include media(desktop) {
      margin-bottom: 16px;
    }
  }

  &__text {
    margin-bottom: 16px;
    color: $_main_cobalt_color;

    @include media(desktop) {
      margin-bottom: 24px;
      width: 683px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 16px;
    list-style: inside;
    color: $_main_cobalt_color;

    @include media(desktop) {
      width: 683px;
    }
  }
  .privacy-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 8px;
    list-style: inside;
    color: $_main_cobalt_color;

    @include media(desktop) {
      width: 683px;
    }
  }

  &__item {
    margin-left: 8px;
  }
  &__link-facebook {
    @include font(15, 22);
    text-decoration: underline;
    color: $_main_cobalt_color;

    @include media(desktop) {
      @include font(18, 27);
      text-decoration: none;
      font-weight: 600;
    }
  }

  &__paragraph {
    margin-bottom: 8px;
    color: $_main_cobalt_color;

    @include media(desktop) {
      margin-bottom: 16px;
      width: 683px;
    }
  }

  &__paragraph-1 {
    margin-bottom: 8px;
    color: $_main_cobalt_color;

    @include media(desktop) {
      margin-bottom: 8px;
      width: 683px;
    }
  }

  &__contact {
    color: $_main_cobalt_color;
  }
  .bold {
    @include media(desktop) {
      font-weight: 600;
      color: $_main_cobalt_color;
    }
  }
}
