<section class="faq-section">
  <div class="faq-icons">
    <img src="../img/Game balldesktop.png" alt="" class="faq-icon" />
    <img src="../img/Game balldesktop.png" alt="" class="faq-icon" />
    <img src="../img/Game balldesktop.png" alt="" class="faq-icon" />
  </div>
  <h2 class="faq-title">FAQ</h2>

  <div class="accordion-container">
    <!-- Первый элемент -->
    <div class="faq-item">
      <button class="ac-trigger">
        <span>Can I play offline?</span>
        <svg class="icon-answer">
          <use href="../img/icons.svg#icon-arrow-down"></use>
        </svg>
      </button>
      <div class="ac-panel">
        <p>
          Yes, Travel Decor can be enjoyed offline, but some features may
          require an internet connection.
        </p>
      </div>
    </div>

    <!-- Второй элемент -->
    <div class="faq-item">
      <button class="ac-trigger">
        <span>Are there in-app purchases?</span>
        <svg class="icon-answer">
          <use href="../img/icons.svg#icon-arrow-down"></use>
        </svg>
      </button>
      <div class="ac-panel">
        <p>
          Yes, optional in-app purchases are available for boosters and premium
          decor items.
        </p>
      </div>
    </div>

    <!-- Третий элемент -->
    <div class="faq-item">
      <button class="ac-trigger">
        <span>Is the game child-friendly?</span>
        <svg class="icon-answer">
          <use href="../img/icons.svg#icon-arrow-down"></use>
        </svg>
      </button>
      <div class="ac-panel">
        <p>Absolutely! It’s family-friendly and suitable for all ages.</p>
      </div>
    </div>

    <!-- Четвертый элемент -->
    <div class="faq-item">
      <button class="ac-trigger">
        <span>How do I sync progress across devices?</span>
        <svg class="icon-answer">
          <use href="../img/icons.svg#icon-arrow-down"></use>
        </svg>
      </button>
      <div class="ac-panel">
        <p>Connect via Google Play or Facebook to sync your progress.</p>
      </div>
    </div>

    <!-- Пятый элемент -->
    <div class="faq-item">
      <button class="ac-trigger">
        <span>How often are new levels added?</span>
        <svg class="icon-answer">
          <use href="../img/icons.svg#icon-arrow-down"></use>
        </svg>
      </button>
      <div class="ac-panel">
        <p>
          Regular updates bring fresh content, levels, and design challenges.
        </p>
      </div>
    </div>

    <!-- Шестой элемент -->
    <div class="faq-item">
      <button class="ac-trigger">
        <span>What if I encounter a problem?</span>
        <svg class="icon-answer">
          <use href="../img/icons.svg#icon-arrow-down"></use>
        </svg>
      </button>
      <div class="ac-panel">
        <p>Use the in-game support feature or contact us via the app store.</p>
      </div>
    </div>
  </div>
</section>
