<footer class="footer-section">
  <div class="footer-container">
    <!-- Кнопка Google Play -->
    <a
      class="google-play-link"
      href="https://play.google.com/store/apps/details?id=com.dream.fun.free.traveldecor&pli=1"
      target="_blank"
    >
      <img
        class="hero-section__badge-icon"
        src="./img/hero/badge.svg"
        alt="Google Play"
      />
    </a>

    <!-- Текстовые ссылки и копирайт -->
    <div class="footer-text">
      <p>
        <a href="./privacy-policy.html" class="footer-link">Privacy Policy</a>
        <span class="divider">|</span>
        <a href="./terms-conditions.html" class="footer-link"
          >Terms and Conditions</a
        >
      </p>
      <p class="copyright">©2024 questhubjoypro.com. All rights reserved.</p>
    </div>
  </div>
</footer>
