<section id="gallery" class="gallery-section">
  <h2 class="gallery-title">Gallery</h2>
  <div class="gallery-wrapper">
    <div class="gallery-container">
      <!-- Слайд 1 -->
      <div class="gallery-slide">
        <img src="./img/gallery1.jpg" alt="Slide 1" />
      </div>
      <!-- Слайд 2 -->
      <div class="gallery-slide">
        <img src="./img/gallery2.jpg" alt="Slide 2" />
      </div>
      <!-- Слайд 3 -->
      <div class="gallery-slide">
        <img src="./img/gallery3.jpg" alt="Slide 3" />
      </div>
      <!-- Слайд 4 -->
      <div class="gallery-slide">
        <img src="./img/gallery4.jpg" alt="Slide 4" />
      </div>
      <!-- Слайд 5 -->
      <div class="gallery-slide">
        <img src="./img/gallery5.jpg" alt="Slide 5" />
      </div>
    </div>

    <!-- Пагинация -->
    <div class="pagination">
      <button
        type="button"
        class="pagination-button prev pagination-button-left"
        aria-label="Previous"
      >
        <svg class="pagination-icon">
          <use href="./img/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
      <button type="button" class="pagination-button next" aria-label="Next">
        <svg class="pagination-icon">
          <use href="./img/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
