<section class="game-description-section" id="game-description-section">
  <div class="container game-description-section__container">
    <h2 class="game-description-section__title">Game Description</h2>
    <div class="game-description-section__text-container">
      <p class="game-description-section__text">
        Travel Decor is a unique match-3 puzzle game where players combine their
        love for puzzles with a passion for design and exploration.
      </p>
      <p class="game-description-section__text">
        Travel across the globe, solve match-3 challenges, and unlock new design
        opportunities for spaces inspired by famous cities.
      </p>
      <p class="game-description-section__text">
        From cozy Parisian apartments to luxurious New York penthouses, express
        your creativity while enjoying captivating gameplay.
      </p>
    </div>
    <img
      class="game-description-section__icon"
      src="./img/description/dog.svg"
      alt="Dog"
    />
  </div>
</section>
