<header class="header">
  <div class="container">
    <div class="header__container">
      <a class="header__logo" href="../index.html">
        <img src="../img/header/logo.svg" alt="Logo" />
      </a>

      <!-- Mobile burger -->
      <button class="header__burger menu-btn-open" type="button">
        <svg class="header__burger__icon" width="32" height="32">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>

      <!-- Mobile version -->
      <div class="mobile-menu">
        <button class="mobile-menu__btn-close menu-btn-close" type="button">
          <svg class="btn-close__icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-x"></use>
          </svg>
        </button>
        <ul class="mobile-menu__list">
          <li>
            <a class="mobile-menu__link" href="#hero-section">Home</a>
          </li>
          <li>
            <a class="mobile-menu__link" href="#game-description-section"
              >Game Description</a
            >
          </li>
          <li>
            <a class="mobile-menu__link" href="#reviews-section">Reviews</a>
          </li>
          <li>
            <a class="mobile-menu__link" href="#how-to-play-section"
              >How to Play</a
            >
          </li>
          <li>
            <a class="mobile-menu__link" href="">Features</a>
          </li>
          <li>
            <a class="mobile-menu__link" href="">FAQ</a>
          </li>
          <li>
            <a class="mobile-menu__link" href="">Gallery</a>
          </li>
        </ul>
      </div>

      <!-- Desktop version -->
      <nav class="header__nav">
        <div class="header__desktop-menu">
          <ul class="header__menu">
            <li class="header__menu-item">
              <a class="header__menu-link" href="#hero-section">Home</a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="#game-description-section"
                >Game Description</a
              >
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="#reviews-section">Reviews</a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="#how-to-play-section"
                >How to Play</a
              >
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="">Features</a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="">FAQ</a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="">Gallery</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
