<section class="how-to-play-section" id="how-to-play-section">
  <div class="container">
    <h2 class="how-to-play-section__title">How to Play</h2>
    <ol class="how-to-play-section__list">
      <li class="how-to-play-section__item">
        <span class="how-to-play-section__number">
          <img
            class="how-to-play-section__number-image"
            src="../img/how-to-play/01.svg"
            alt="number 01"
          />
        </span>
        <p class="how-to-play-section__text">
          Swap and match three or more tiles to clear them and earn points.
        </p>
        <span class="how-to-play-section__span-right">
          <img
            class="how-to-play-section__image"
            src="../img/how-to-play/ball.svg"
            alt="Ball"
          />
        </span>
      </li>
      <li class="how-to-play-section__item">
        <span class="how-to-play-section__number">
          <img
            class="how-to-play-section__number-image"
            src="../img/how-to-play/02.svg"
            alt="number 02"
          />
        </span>
        <p class="how-to-play-section__text">
          Complete level objectives such as collecting design pieces or
          achieving target scores.
        </p>
        <span class="how-to-play-section__span-left">
          <img
            class="how-to-play-section__image"
            src="../img/how-to-play/potion.svg"
            alt="Ball"
          />
        </span>
      </li>
      <li class="how-to-play-section__item">
        <span class="how-to-play-section__number">
          <img
            class="how-to-play-section__number-image"
            src="../img/how-to-play/03.svg"
            alt="number 03"
          />
        </span>
        <p class="how-to-play-section__text">
          Earn rewards to unlock new rooms and decor items.
        </p>
        <span class="how-to-play-section__span-right">
          <img
            class="how-to-play-section__image"
            src="../img/how-to-play/coin.svg"
            alt="Coin"
          />
        </span>
      </li>
      <li class="how-to-play-section__item">
        <span class="how-to-play-section__number">
          <img
            class="how-to-play-section__number-image"
            src="../img/how-to-play/04.svg"
            alt="number 04"
          />
        </span>
        <p class="how-to-play-section__text">
          Decorate each room to reflect iconic styles inspired by global
          destinations.
        </p>
        <span class="how-to-play-section__span-left">
          <img
            class="how-to-play-section__image"
            src="../img/how-to-play/paw.svg"
            alt="Paw"
          />
        </span>
      </li>
      <li class="how-to-play-section__item">
        <span class="how-to-play-section__number">
          <img
            class="how-to-play-section__number-image"
            src="../img/how-to-play/05.svg"
            alt="number 05"
          />
        </span>
        <p class="how-to-play-section__text">
          Take part in daily challenges for extra rewards and exclusive designs
        </p>
        <span class="how-to-play-section__span-last">
          <img
            class="how-to-play-section__image"
            src="../img/how-to-play/paw.svg"
            alt="Paw"
          />
        </span>
      </li>
    </ol>
  </div>
</section>
